<?xml version="1.0" encoding="UTF-8"?>
<oam    xmlns="http://www.nuance.com/framework/oam/configuration" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nuance.com/framework/oam/configuration oam-config.xsd">
    <alarming dispatcher="com.nuance.framework.oam.AlarmDispatcherImpl">
        <listener classname="com.nuance.framework.oam.NMSAlarmEmitter"/>
    </alarming>
</oam>
